.container {
  display: grid;
  place-items: center;
  height: 100vh;
  grid-template-rows: auto;
}

.grid-table {
  font-size: 10px;
  display: grid;
}

.header-cell {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  overflow: hidden;
}

.cell {
  padding: 5px;
  text-align: center;
  border: 1px solid #cccccc;
  overflow: hidden;
}
