.container {
  display: grid;
  height: 100vh;
  grid-template-rows: min-content min-content;
  gap: 15px;
}

.grid-table {
  font-size: 10px;
  display: grid;
}

.header-cell {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  overflow: hidden;
}

.cell {
  padding: 5px;
  text-align: center;
  border: 1px solid #cccccc;
  overflow: hidden;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

input {
  margin: 4px;
}
