.container {
  display: grid;
  grid-template-rows: min-content min-content;
  padding: 8px;
}

.table-container {
  font-size: 12px;
  width: max-content;
  padding-right: 30px;
}

.table-header {
  display: grid;
}

.table-footer {
  display: grid;
}

.table-row {
  display: grid;
  position: relative;
}

.table-cell {
  padding: 4px;
  text-align: center;
  border: 1px solid #cccccc;
  overflow: hidden;
  user-select: none;
}

.table-header > .table-cell {
  font-weight: bold;
  background-color: #f0f0f0;
}

.table-row > .table-cell:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

.table-row > .table-cell:first-child:hover {
  background-color: transparent;
}

.table-footer > .table-cell {
  background-color: transparent;
}

.sum-cell {
  padding: 4px;
  text-align: center;
  border: 1px solid #cccccc;
  overflow: hidden;
  user-select: none;
}

.sum-cell:hover {
  background-color: lightgreen;
}

.highlighted-cell {
  background-color: skyblue;
}

.row-delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border: none;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  translate: 100%;
  width: 20px;
}

.header-controlls {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 4px;
  gap: 4px;
}

.row-add-button {
  margin: 8px 0;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 4px;
}

input {
  width: 100px;
  margin: 4px;
}
